* {
  box-sizing: border-box;
}
body {
	  margin: 0px;
	  font-family: 'Calibri';
	 background-color: transparent !important;
     }
.loader{position:fixed;left:0;top:0;width:100%;height:100%;z-index:9999;background:url('/img/load.gif') 50% 50% no-repeat #000;opacity:.8}
.nav {
  height: 55px;
  width: 100%;
  background-color: #000;
  display: flow-root !important;
  position: relative;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 3px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}

@media (max-width:768px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
    text-align: center;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {	  
/*--    height: calc(100vh - 50px); --*/
    height: auto;
    overflow-y: auto;
  }
}


/*-- Home Outer Box CSS --*/
.homeOuterBox {
    height: 92vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

/*-- Home Inner Box CSS --*/
.homeInnerBox {
    font-size: 2.5rem;
    text-align: center;
}
img.homeLogo {
		width: 35%;
    		height: auto;
}
p.homeP {
    text-align: center;
    font-size: large;
}

    #hero {
        background: url("/img/bg.jpg") no-repeat center;
        background-size: cover;
    }
	.row {
    margin-top: initial !important;
	}

/* Desktop 150% */
@media (min-width: 1025px) and (max-width: 1280px) {
	img.homeLogo {
		width: 35%;
    		height: auto;
	}
}

/* Desktop  100% */
@media (min-width: 1537px) and (max-width: 3000px) {
	img.homeLogo {
		width: 40%%;
    		height: auto;
	}
}

/* iPad pro */
@media (min-width: 768px) and (max-width: 1024px) {
	.homeInnerBox {
	    font-size: 2rem;
	}
	img.homeLogo {
		width: 40%;
    		height: auto;
	}
}

/* Mobile landscape, ipad 2 */
@media (min-width: 421px) and (max-width: 768px) {
	.homeInnerBox {
	    font-size: 2rem;
	}
	img.homeLogo {
		width: 30%;
    		height: auto;
	}
}

/* Mobile */
@media (max-width: 420px) {
	.homeInnerBox {
	    font-size: 1.3rem;
	}
	img.homeLogo {
		width: 100%;
    		height: auto;
	}
}


aside {
    background: #1f8dd6; /* same color as selected state on site menu */
    padding: 0.3em 1em;
    border-radius: 3px;
    color: #fff;
    margin-bottom: 2em;
}
textarea {
  width: 100%;
}
.content-head {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 2em 0 1em;
}
.contact {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.is-center {
  text-align: center;
}
.button-success {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: rgb(28, 184, 65); /* this is a green */
}
.button-xlarge {
  font-size: 125%;
}
button {
  float: right;
  display: inline-block;
  border-radius: 4px;
  background-color: #4CAF50;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
button.button.Bottom {
    background: black;
}

.button span1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span1:after {
  content: '\00ab';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span1 {
  padding-right: 25px;
}

.button:hover span1:after {
  opacity: 1;
  right: 0;
}

#name, #email {
  width: 50%;
}

#tel {
  width: 30%;
}

@media screen and (max-width: 600px) {
.contact {
    max-width: 100%;
}
#name, #email, #tel {
  width: 100%;
}
}


::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 5px;
	background-color: #F5F5F5;
}
::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}
